<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capstone Coin Merge</title>
</head>
<body>
  <div id="customers">
    <tr>
      <td><div id="customer1"></div></td>
      <td><div id="customer2"></div></td>
      <td><div id="customer3"></div></td>
    </tr>

  </div>
  <div id="coinBoard">
    <table>
      <tr class="coinRow1">
        <td><div id="coinSpace1"></div></td>
        <td><div id="coinSpace2"></div></td>
        <td><div id="coinSpace3"></div></td>
        <td><div id="coinSpace4"></div></td>
        <td><div id="coinSpace5"></div></td>
      </tr>
      <tr class="coinRow2">
        <td><div id="coinSpace6"></div></td>
        <td><div id="coinSpace7"></div></td>
        <td><div id="coinSpace8"></div></td>
        <td><div id="coinSpace9"></div></td>
        <td><div id="coinSpace10"></div></td>
      </tr>
      <tr class="coinRow3">
        <td><div id="coinSpace11"></div></td>
        <td><div id="coinSpace12"></div></td>
        <td><div id="coinSpace13"></div></td>
        <td><div id="coinSpace14"></div></td>
        <td><div id="coinSpace15"></div></td>
      </tr>
      <tr class="coinRow4">
        <td><div id="coinSpace16"></div></td>
        <td><div id="coinSpace17"></div></td>
        <td><div id="coinSpace18"></div></td>
        <td><div id="coinSpace19"></div></td>
        <td><div id="coinSpace20"></div></td>
      </tr>
      <tr class="coinRow5">
        <td><div id="coinSpace21"></div></td>
        <td><div id="coinSpace22"></div></td>
        <td><div id="coinSpace23"></div></td>
        <td><div id="coinSpace24"></div></td>
        <td><div id="coinSpace25"></div></td>
      </tr>
    </table>

    <button id="resetBtn">Reset Game</button>
    <button id="coinBtn">Add Change</button>

  </div>
</body>
</html>