<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capstone Coin Merge</title>
</head>
<body>
  <table>
    <tr class="coinRow1">
      <td><div class="coinSpace1"></div></td>
      <td><div class="coinSpace2"></div></td>
      <td><div class="coinSpace3"></div></td>
      <td><div class="coinSpace4"></div></td>
      <td><div class="coinSpace5"></div></td>
    </tr>
    <tr class="coinRow2">
      <td><div class="coinSpace6"></div></td>
      <td><div class="coinSpace7"></div></td>
      <td><div class="coinSpace8"></div></td>
      <td><div class="coinSpace9"></div></td>
      <td><div class="coinSpace10"></div></td>
    </tr>
    <tr class="coinRow3">
      <td><div class="coinSpace11"></div></td>
      <td><div class="coinSpace12"></div></td>
      <td><div class="coinSpace13"></div></td>
      <td><div class="coinSpace14"></div></td>
      <td><div class="coinSpace15"></div></td>
    </tr>
    <tr class="coinRow4">
      <td><div class="coinSpace16"></div></td>
      <td><div class="coinSpace17"></div></td>
      <td><div class="coinSpace18"></div></td>
      <td><div class="coinSpace19"></div></td>
      <td><div class="coinSpace20"></div></td>
    </tr>
    <tr class="coinRow5">
      <td><div class="coinSpace21"></div></td>
      <td><div class="coinSpace22"></div></td>
      <td><div class="coinSpace23"></div></td>
      <td><div class="coinSpace24"></div></td>
      <td><div class="coinSpace25"></div></td>
    </tr>
  </table>
</body>
</html>