<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/views/styles/devCoins.css">
  <title>Capstone Coin Merge</title>
</head>
<body>
  <!--Customer Section-->
  <div id="customers">
    <tr>
      <td><div id="customer1"></div></td>
      <td><div id="customer2"></div></td>
      <td><div id="customer3"></div></td>
    </tr>

  <!--CoinBoard Section-->
  </div>
  <div id="coinBoard">
    <table>
      <tr class="coinRow1">
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
      </tr>
      <tr class="coinRow2">
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
      </tr>
      <tr class="coinRow3">
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
      </tr>
      <tr class="coinRow4">
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
      </tr>
      <tr class="coinRow5">
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
        <td class="tdCoinSpace"><img class="noCoin" src="" alt=""></td>
      </tr>
    </table>

    <button id="resetBtn">Reset Game</button>
    <img src="/public/images/coinJar.png" alt="Add Change" id="coinBtn">

  </div>
  <script src="/views/scripts/coinPile.js"></script>
  <script src="/views/scripts/coinJarAddCoins.js"></script>
  <script src="/views/scripts/resetButton.js"></script>
</body>
</html>
