<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/devCoins.css">
  <script src="../scripts/moveCoin.js"></script>
  <title>Capstone Coin Merge</title>
</head>
<body>
  <div id="customers">
    <tr>
      <td><div id="customer1"></div></td>
      <td><div id="customer2"></div></td>
      <td><div id="customer3"></div></td>
    </tr>

  </div>
  <div id="coinBoard">
    <table>
      <tr class="coinRow1">
        <td><div id="coinSpace1"></div><span class="penny" id="1"></span></td>
        <td><div id="coinSpace2"></div><span class="penny" id="2"></span></td>
        <td><div id="coinSpace3"></div><span class="penny" id="3"></span></td>
        <td><div id="coinSpace4"></div><span class="penny" id="4"></span></td>
        <td><div id="coinSpace5"></div><span class="penny" id="5"></span></td>
      </tr>
      <tr class="coinRow2">
        <td><div id="coinSpace6"><span class="empty"></span></div></td>
        <td><div id="coinSpace7"><span class="empty"></span></div></td>
        <td><div id="coinSpace8"><span class="empty"></span></div></td>
        <td><div id="coinSpace9"><span class="empty"></span></div></td>
        <td><div id="coinSpace10"><span class="empty"></span></div></td>
      </tr>
      <tr class="coinRow3">
        <td><div id="coinSpace11"><span class="empty"></span></div></td>
        <td><div id="coinSpace12"><span class="empty"></span></div></td>
        <td><div id="coinSpace13"><span class="empty"></span></div></td>
        <td><div id="coinSpace14"><span class="empty"></span></div></td>
        <td><div id="coinSpace15"><span class="empty"></span></div></td>
      </tr>
      <tr class="coinRow4">
        <td><div id="coinSpace16"><span class="empty"></span></div></td>
        <td><div id="coinSpace17"><span class="empty"></span></div></td>
        <td><div id="coinSpace18"><span class="empty"></span></div></td>
        <td><div id="coinSpace19"><span class="empty"></span></div></td>
        <td><div id="coinSpace20"><span class="empty"></span></div></td>
      </tr>
      <tr class="coinRow5">
        <td><div id="coinSpace21"><span class="empty"></span></div></td>
        <td><div id="coinSpace22"><span class="empty"></span></div></td>
        <td><div id="coinSpace23"><span class="empty"></span></div></td>
        <td><div id="coinSpace24"><span class="empty"></span></div></td>
        <td><div id="coinSpace25"><span class="empty"></span></div></td>
      </tr>
    </table>

    <button id="resetBtn">Reset Game</button>
    <button id="coinBtn">Add Change</button>

  </div>
</body>
</html>