.tdCoinSpace {
    background-color: beige;
    width: 65px;
    height: 65px;
    text-align: center;
}

.tdCsCoinSpace {
    background-color: #E58A00;
    width: 65px;
    height: 65px;
    text-align: center;
}

#customerArea {
    background-color: #BF0000;
    width: 207px;
    height: 147px;
    text-align: center;
}

#customerArea img{
    width: 207px;
    height: 77px;
}

.tdCoinSpace img, .tdCsCoinSpace img{
    width: 60px;
    height: 60px;
    margin: auto;
    display: inline;
    user-select: none;
}

.tdCoinSpace img.noCoin, .tdCsCoinSpace img.noCoin{
    display: none;
}

#coinBtn {
    width: 80px;
    height: 80px;
    margin-top: 0.2em;
}

.penny {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: #E48900;
    border: 1px solid black;
    border-radius: 50px;

}