body { 
  background-color: #9FDF74;
}
#scoreArea{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  background-color: #F7EB00;
  width: 207px;
  margin-top: 2px;
  margin-bottom: auto;
}
.shopTR {
  background-color: rgb(174, 141, 103);
}
.shopTD {
  position: relative;
  background-color: rgb(176, 137, 87);
  width: 100px;
}
.shopTD img {
  width: 75px;
  height: 75px;
}
.locked {
  background-color: rgba(79, 182, 42, 0.9);
}
.equipped {
  background-color: rgba(217, 113, 27, 0.9);
}
.unlocked {
  background-color: rgba(217, 192, 27, 0.9);
}
.shopTD button {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 75px;
  height: 75px;
  opacity: 1;
  background-color: transparent;
  border: none;
}
.shopTD button:hover {
  opacity: 0.9;
  background-color: #9ede7386;
  cursor: pointer;
}


/******NEW STUFF******/

/*Size that things need to change if mobile view if we do mobile*/
/* @media screen and (max-width: 1120px) {
  
} */


#entireBoard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* position: relative;
  left: 10%;
  top: 5%;
  width: 90%;
  height: 95%; */
  background-color: #659d42;
}
#gameboardSpan {
  background-color: #659d42;
}
#welcomeSpan, #helpSectionSpan {
  inline-size: 350px;
  overflow-wrap: break-word;
  background-color: #3d5f28;
  padding: 10px;
}
#shopSpan {
  background-color: #527c38;
  padding-left: 2px;
}