body { 
  background-color: #9FDF74;
}

.popUpClass {
  position: fixed;
  width: 500px;
  height: 340px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  border-radius: 10%;
  text-align: center;
}
.popUpClass ul {
  text-align: left;
  margin: 0 20%;
}
.popUpClass p {
  margin: 0 20%;
}
#welcomePopUp {
  height: 310px;
  visibility: visible;
  background-color: #9EDE73;
  box-shadow: 0px 1px 10px black;
}
#scoreArea{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  background-color: #F7EB00;
  width: 207px;
  margin-top: 2px;
  margin-bottom: auto;
}
#titleTag {
  margin-bottom: -5px;
}
#helpBtnImg {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 5px 5px;
  border-radius: 50%;
}
#helpPopUp {
  top: 25%;
  height: 600px;
  background-color: bisque;
}
#shopPopUp {
  top: 25%;
  /* height: 520px; */
  height: 475px;
  visibility: hidden;
  background-color: rgb(187, 153, 110);
}
.xButtonImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.xButtonAll, #helpBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.3);
}
#helpBtn {
  position: fixed;
  margin: 5px 5px;
}
#loadnSavePopUp {
  background-color: rgb(197, 197, 53);
}
#loadBtn:hover,#saveBtn:hover {
cursor: pointer;
}
.shopTR {
  background-color: rgb(174, 141, 103);
}
.shopTD {
  position: relative;
  background-color: rgb(176, 137, 87);
}
.shopTD img {
  width: 75px;
  height: 75px;
}
.locked {
  background-color: rgba(79, 182, 42, 0.9);
}
.equipped {
  background-color: rgba(217, 113, 27, 0.9);
}
.unlocked {
  background-color: rgba(217, 192, 27, 0.9);
}
.shopTD button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 75px;
  height: 75px;
  opacity: 1;
  background-color: transparent;
  border: none;
}
.shopTD button:hover {
  opacity: 0.9;
  background-color: #9ede7386;
  cursor: pointer;
}